<app-top-bar></app-top-bar>

<div class="content" style="background-image: url('https://wallpaperaccess.com/full/24866.jpg');">

    <div class="container text-center" style="padding-top: 50px; padding-bottom: 50px; color: whitesmoke;">
        
        <div style="font-size: 40px;">สรุปผลข้อมูล</div>
        <div class="profile-img text-center">
            <img src="http://reg.pim.ac.th/studentimg/61/6152300100.jpg" alt="" width="150" height="180" style="margin-top: 30px;"/>
        </div>
        <div style="text-align: -webkit-center; margin-top: 30px;;">
            <tbody>

                <tr border="0">
                    <td width="15"></td>
                    <td valign="top" bgcolor="#F0F0FF" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000000">รหัสประจำตัว: </font>
                    </td>
                    <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000080">6152300100&nbsp;</font>
                    </td>
                </tr>

                <tr border="0">
                    <td width="15"></td>
                    <td valign="top" bgcolor="#F0F0FF" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000000">ชื่อ: </font>
                    </td>
                    <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000080">นายเจษฎากร บุญมีประเสริฐ&nbsp;</font>
                    </td>
                </tr>

                <tr border="0">
                    <td width="15"></td>
                    <td valign="top" bgcolor="#F0F0FF" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000000">คณะ: </font>
                    </td>
                    <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000080">วิศวกรรมศาสตร์และเทคโนโลยี&nbsp;</font>
                    </td>
                </tr>

                <tr border="0">
                    <td width="15"></td>
                    <td valign="top" bgcolor="#F0F0FF" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000000">สถานที่เรียน: </font>
                    </td>
                    <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000080">สถาบันการจัดการปัญญาภิวัฒน์&nbsp;</font>
                    </td>
                </tr>

                <tr border="0">
                    <td width="15"></td>
                    <td valign="top" bgcolor="#F0F0FF" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000000">สาขาวิชา: </font>
                    </td>
                    <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000080">59050202 วิศวกรรมคอมพิวเตอร์&nbsp;
                        </font>
                    </td>
                </tr>

                <tr border="0">
                    <td width="15"></td>
                    <td valign="top" bgcolor="#F0F0FF" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000000">กลุ่ม: </font>
                    </td>
                    <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                        <font face="MS Sans Serif" size="3" color="#000080">610 CPE-PIM-G-1&nbsp;</font>
                    </td>
                </tr>
            </tbody>                
        </div>    

        <div><button (click)="getSumOfSubject()">Create User</button></div>

        <div>
            Information Technology Security : {{sum[0]}}
        </div>

        <div>
            Machine Learning : {{sum[1]}}
        <div>
            Computer Architecture : {{sum[2]}}
        </div>

        <div>
            Microprocessor : {{sum[3]}}
        </div>

        <div>
            English For Work : {{sum[4]}}
        </div>


        <!-- <input type="file" accept=".csv" multiple (change) ="handleFileSelect($event)"> -->


       
</div>
