
<div class="top-bar">
    <div class="logo">
        <a routerLink="/result">Result</a>
        <a routerLink="/submission">Submission</a>
        <a routerLink="/profile">Profile</a>
    </div>
    <div class="img">
        <a routerLink="/">Logout</a>
      </div>

  </div>
<div style="background-image: url('https://wallpaperaccess.com/full/24866.jpg');">

    <div class="container" style="padding: 50px;">
        <div>
            <div class="profile-img text-center">
         
                <img src="http://reg.pim.ac.th/studentimg/61/6152300100.jpg" alt="" width="150" height="180" />
            </div>

            <div style="text-align: -webkit-center; margin-top: 30px; border-radius: 10%;">
                <div>
                    <tr border="0">
                        
                        <td width="15"></td>
                        <td bgcolor="#C4C1C0" align="center" colspan="2" style="padding: 10px;">
                            <font  size="5" color="#FFFFFF">ข้อมูลด้านการศึกษา</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">รหัสประจำตัว: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">6152300100&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">เลขที่บัตรประชาชน: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">1709901287431&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">ชื่อ: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">นายเจษฎากร บุญมีประเสริฐ&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">ชื่อภาษาอังกฤษ: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">MR. JEDSADAKRON BOONMEEPRASERT&nbsp;
                            </font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">คณะ: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">วิศวกรรมศาสตร์และเทคโนโลยี&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">สถานที่เรียน: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">สถาบันการจัดการปัญญาภิวัฒน์&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">สาขาวิชา: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">59050202 วิศวกรรมคอมพิวเตอร์&nbsp;
                            </font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">กลุ่ม: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">610 CPE-PIM-G-1&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">สาขาวิชาโท: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">ระดับการศึกษา: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">ปริญญาตรี&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">ชื่อปริญญา: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">วิศวกรรมศาสตรบัณฑิต
                                (วิศวกรรมคอมพิวเตอร์)
                                วิศวกรรมคอมพิวเตอร์&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">ปีการศึกษาที่เข้า: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">2561 / 0<br>วันที่ 21/5/2561&nbsp;
                            </font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">สถานภาพนักศึกษา: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">ปกติ&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">วิธีรับเข้า: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">วุฒิก่อนเข้ารับการศึกษา/GPAX: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">มัธยมศึกษาตอนปลาย <br>2.85&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">จบการศึกษาจาก: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">โรงเรียนราชโบริกานุเคราะห์&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td valign="top" bgcolor="#C4C1C0" style="padding: 10px;">
                            <font  size="3" color="#000000">อาจารย์ที่ปรึกษา: </font>
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">อาจารย์ชนกานต์ กิ่งแก้ว&nbsp;</font>
                        </td>
                    </tr>
                    <tr border="0">
                        <td width="15"></td>
                        <td bgcolor="#C4C1C0" align="center" colspan="2" style="padding: 10px;">
                            <font  size="5" color="#FFFFFF">ผลการศึกษา&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td valign="CENTER" align="CENTER" bgcolor="#C4C1C0" style="padding: 10px;"><img
                                src="https://image.flaticon.com/icons/png/512/3755/3755243.png" width="50" height="50">
                        </td>
                        <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                            <font  size="3" color="#000080">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td align="LEFT"></td>
                                            <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                                                <font  size="3" color="#000080">หน่วยกิตคำนวณ
                                                </font>
                                            </td>
                                            <td align="RIGHT"></td>
                                            <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                                                <font  size="3" color="#000080">125&nbsp;</font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="LEFT"></td>
                                            <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                                                <font  size="3" color="#000080">จน.หน่วยกิต สอบได้ :
                                                </font>
                                            </td>
                                            <td align="RIGHT"></td>
                                            <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                                                <font  size="3" color="#000080">125&nbsp;</font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="LEFT"></td>
                                            <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                                                <font  size="3" color="#000080">GPAX </font>
                                            </td>
                                            <td align="RIGHT"></td>
                                            <td align="LEFT" bgcolor="#F5F5FF" valign="TOP" style="padding: 10px;">
                                                <font  size="3" color="#000080">2.95&nbsp;</font>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </font>
                        </td>
                    </tr>

                </div>
            </div>
        </div>
    </div>
</div>